.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px;
  h2 {
    padding-left: 40px;
  }
  hr {
    @include mq-only-down(sm);
    border-color: rgb(221 221 221);
    margin: 25px 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
    .infoItem {
      display: flex;
      align-items: center;
      gap: 8px;

      a {
        text-decoration: underline;
        color: blrgb(0, 47, 255);
      }
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
    .formcontrol {
      display: flex;
      gap: 10px;
      margin-bottom: 18px;
      flex-wrap: nowrap;
      img {
        top: 14px;
        position: relative;
      }
    }
    .formaction {
      button {
        float: right;
      }
    }
  }
  @include mq-down(md) {
    padding: 25px;
  }
  @include mq-down(sm) {
    padding: 35px;
    flex-direction: column-reverse;
    h2 {
      padding-left: 0;
      text-align: center;
    }
    .info {
      width: 100%;
    }
    .form {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  @include mq-down(xs) {
    padding: 10px;
    .form {
      .formaction {
        text-align: center;
        button {
          width: 60%;
          float: unset;
        }
      }
    }
  }
}
