@mixin headerStyle1 {
  border: none;
  background: none;
  box-shadow: none;
  color: rgb(255, 255, 255);
  .navigation {
    a::after {
      background-color: rgb(255, 255, 255);
    }
  }
  h1 {
    text-shadow: 6px 6px 5px rgba(85, 85, 85, 0.598);
  }
}
@mixin headerStyle2 {
  @include getBrandBg(center, $bg-gradient-primary);
  border: 0.14em solid rgb(0 0 0 / 67%);
  border-top: none;
  box-shadow: 0 5px 15px #80808087;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .navigation {
    a::after {
      background-color: white;
    }
  }
  h1 {
    text-shadow: 6px 6px 5px rgb(26, 26, 26);
  }
}
.main {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $bodyMaxWidth;
  @include headerStyle1;
  @include mq-hide-down(md);
  @include mq-show-up(md);
  * {
    transition: all 0.2s ease-in-out;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
    width: 100%;
    gap: 30px;
    h1 {
      white-space: nowrap;
    }
  }
  .navigation {
    float: right;
    display: flex;
    align-items: center;
    gap: 12px;
    svg {
      width: 36px;
      height: 36px;
    }
    ul {
      display: block;
      padding: 0;
      margin: 0;
      white-space: nowrap;
      li {
        display: inline-block;

        position: relative;
        padding: 0;
        text-align: center;
        a {
          background: none;
          border: none;
          cursor: pointer;
          display: block;
          position: relative;
          padding: 8px 0;
          margin: 16px 24px 0 24px;
          text-align: center;
          color: inherit;
          font-size: 18px;
          line-height: 1;
          font-weight: 400;
          position: relative;
          text-decoration: none;
          outline: none;
          opacity: 0.7;
          min-width: 50px;
          user-select: none;
          &.active {
            cursor: default;
          }
          &:hover,
          &.active {
            opacity: 1;
            transform: perspective(45px) translateY(-5px) rotateX(-30deg)
              scale(1.2);
            &:after {
              width: 50px;
            }
          }
          &:after {
            display: block;
            content: '';
            width: 0;
            height: 3px;
            margin: 8px auto 0 auto;
            border-radius: 50% / 50%;
            -webkit-transition: all 0.15s ease-in-out;
            -moz-transition: all 0.15s ease-in-out;
            -o-transition: all 0.15s ease-in-out;
            -ms-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
          }
        }
      }
    }
  }
}

.headerMobile {
  position: fixed;
  display: flex !important;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  color: white;
  width: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: $bg-gradient-primary;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
  .logo {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 6px gray;
  }
  .menu {
    position: fixed;
    top: 16px;
    right: 18px;
    z-index: 1;
    a {
      width: 30px;
      height: 26px;
      display: block;
      .bars {
        position: relative;
        display: block;
        width: 28px;
        height: 4px;
        margin: 0 auto;
        background: white;
        transition: all 0.275s;
        &.isOpen {
          transform-origin: 0 0;
          transform: translateX(8px) rotate(45deg);
          &:before {
            transform: translateY(0px) rotate(-90deg);
          }
          &:after {
            opacity: 0;
          }
        }
        &:before {
          content: '';
          display: block;
          height: 100%;
          background: white;
          transition: all 0.275s;
          transform: translateY(18px);
        }
        &:after {
          content: '';
          display: block;
          height: 100%;
          background: white;
          transition: all 0.275s;
          transform: translateY(5px);
        }
      }
    }
  }
  nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    height: 100vh;
    transition: all 0.27s ease-in-out;
    &.isOpen {
      background-color: #0000009c;
      &:before {
        transform: skew(-14deg) translateX(0);
      }
      ul {
        transition-delay: 0.2s;
        opacity: 1;
        transform: skew(-14deg) translateX(-72px) translateY(-80px);
        li {
          @each $i in 1, 2, 3, 4, 5 {
            &:nth-child(#{$i}) {
              transition-delay: #{0.25 + $i * 0.1}s;
            }
          }

          margin-right: 28px;
        }
      }
    }
    &:before {
      transform: skew(-14deg) translateX(-120%);

      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 60px;
      background: $bg-gradient-primary;
      transform-origin: 0 0;
      // transform: skew(-14deg) translateX(-120%);
      transition: all 0.275s 0.1s;
      box-shadow: 3px 0px 16px #00000073;
    }
    ul {
      padding: 0;
      opacity: 0;
      display: inline-flex;
      flex-direction: column;
      height: 93%;
      align-items: flex-end;
      justify-content: center;
      transition: all 0.375s ease-in-out;
      transform: skew(-14deg) translateX(-120%);
      width: 100%;
      transform-origin: 0 0;
      li {
        display: block;
        margin: 0.5rem 0;
        text-align: right;
        transition: all 0.375s ease-in-out;
        // transform: skew(0deg) translateX(-120%);
        // margin-right: 22px;
        a {
          display: block;
          padding: 12px 0;
          color: white;
          font-size: 1.4em;
          text-decoration: none;
          font-weight: bold;
          text-shadow: 4px 4px 10px black;
        }
      }
    }
  }
  @include mq-only-down(md);
}
