.main {
  padding: 24px;
  .filter {
  }
  .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    @include mq-down(sm) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    grid-auto-rows: max-content;
    gap: 24px;
  }
}
