.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: url(../../public/image/bg/main_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
