@import 'variables';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

body {
  background-color: $mainBgColor;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}
