.main {
  display: flex;
  width: 100%;
  gap: 15px;
  align-items: flex-start;

  overflow: hidden;
  @include mq-up(sm) {
    padding: 10px;
  }
  @include mq-up(md) {
    > div {
      width: 50%;
      > div {
        // overflow-y: auto;
        // height: calc($pageBodyMinHeight - 86px);
        padding-right: 15px;
      }
    }
  }
  @include mq-down(md) {
    flex-direction: column;
    > div {
      width: 100%;
    }
  }

  .skills {
    h1 {
      padding-left: 10px;
    }
    > div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
      grid-auto-rows: max-content;
      justify-items: stretch;
      gap: 8px;
      @include mq-up(sm) {
        padding: 10px;
      }
      > div {
        width: 100%;
      }
    }
  }
  .xp {
    h1 {
      padding-left: 10px;
    }
    > div {
      padding-left: 10px;
    }
    .timeline {
      border-left: 2px solid gray;
      padding: 15px 0;
    }
  }
}
