.main {
  display: flex;
  width: 100%;
  gap: 15px;
  align-items: flex-start;

  overflow: hidden;
  @include mq-up(sm) {
    padding: 10px;
  }
  @include mq-up(md) {
    > div {
      width: 50%;
      > div {
        overflow-y: auto;
        height: calc($pageBodyMinHeight - 86px);
      }
    }
  }
  @include mq-down(md) {
    flex-direction: column;
    > div {
      width: 100%;
    }
  }
  .skills {
    h1 {
      padding-left: 10px;
    }
    > div {
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      padding: 10px;
    }
  }
  .xp {
    h1 {
      padding-left: 10px;
    }
    > div {
      padding-left: 10px;
      padding-right: 15px;
    }
    .timeline {
      border-left: 2px solid gray;
      padding: 15px 0;
    }
  }
}
