.main {
  h1 {
    * {
      cursor: pointer;
    }
    .download {
      margin-left: 10px;
      cursor: pointer;
      background-color: transparent;
      color: black;
      width: 30px;
      flex-wrap: nowrap;
      overflow: hidden;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row-reverse;
      border: 0;
      transition: all 0.2s ease-in-out;
      font-size: 15px;
      font-weight: bold;
      display: inline-flex;
      white-space: pre;
      height: 50px;
      svg {
        margin-left: 10px;
        flex-shrink: 0;
      }
    }
    a {
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;
      max-width: 200px;
      &:hover {
        max-width: 346px;
        text-shadow: 2px 2px 6px rgba(108, 108, 108, 0.465);

        .download {
          width: 200px;
          text-shadow: none;
        }
      }
    }
  }

  margin-top: 50px;
  //   display: flex;
  //   align-items: flex-start;
  padding: 0 50px;
  .mainWrapper {
    display: flex;
    justify-content: space-between;
    @include mq-down(md) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  .about {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div {
      margin-bottom: 20px;
    }
  }
  .profile {
    float: left;
    margin-left: 30px;
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        text-align: left;
        margin: 6px 0;
        &:first-child {
          margin-top: 0;
        }
        span {
          min-width: 120px;
          display: inline-block;
        }
      }
    }
    @include mq-down(sm) {
      margin-left: 0;
    }
  }
  .downloadMobile {
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      margin-bottom: 10px;
      background: $bg-gradient-primary;
      color: white;
      border-radius: 20px;
      gap: 10px;
    }
    // @include mq-only-down(md);
  }
  @include mq-down(md) {
    text-align: center;
    margin-top: 0;
    h1 {
      display: inline-block;
      a {
        pointer-events: none;
        display: inline-flex;
      }
    }

    .mainWrapper {
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      align-items: center;
    }
    .about {
      padding-bottom: 30px;
      border-bottom: solid 1px gray;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .download {
      visibility: hidden;
      display: none !important;
    }
  }
  @include mq-down(sm) {
    padding: 0;
  }
}
